@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

.about {
    transition: .5s ease-in-out;
}
#content section:nth-child(1){
    height: 2300px;
}
.about-title {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-height: 900px;
    TOP: -2px;
}

.about-title video {
    width: 100%;
    position: fixed;
    max-height: 1000px;
    top: 0;
}

.about-title svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.about-title svg text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    dominant-baseline: middle;
}
#about-svg-text-mobile{
    display: none;
    font-size: 10px;
}

.about-title svg>rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

.about-title svg rect:nth-child(1) {
    fill: aliceblue;
}

.about-title svg rect:nth-child(2) {
    fill: black;
}

.about-title:before,
.about-title:after {
    content: "";
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: black;
}





/* ABOUT-INFO */
.about-info-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), black);
}

.about-info-bg {
    background-image: url("/assets/b.png");
    top: -3px;height: 1300px;
}

.about-info {
    display: grid;
    justify-content: center;
    width: 100%;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.about-info-button {
    float: left;
    position: relative;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    color: #e55643;
    opacity: 0;
    visibility: hidden;

}

.about-info>div {
    width: 70%;
    color: rgb(217, 227, 255);
    font-size: calc(100vw / 130 * 3);
    margin: 0;
    display: flex;
    line-height: calc(100vw / 100 * 3);
    letter-spacing: 0px;
}

.about-info-title {
    transform: translateX(0%);
    display: flex;
    padding-right: 1rem;
    float: left;
    white-space: nowrap;
    position: relative;
}

.about-info-title span {
    transform: skew(-10deg);
    position: relative;
    white-space: nowrap;
    display: block;
    font-family: 'Fjalla One', sans-serif !important;
    line-height:100% !important;
    text-transform: uppercase;
    letter-spacing: -2px !important;
    float: left;
    text-shadow: #3d4353 1px 1px, #000000 2px 2px, #000000 3px 3px, #3e3d53 4px 4px, #473d53 5px 5px, #473d53 6px 6px;
    max-width: 100%;
    min-height: 10px;
}

.about-info>div:nth-child(1) .about-info-title>.char6,
.about-info>div:nth-child(1) .about-info-title>.char7,
.about-info>div:nth-child(1) .about-info-title>.char8,
.about-info>div:nth-child(1) .about-info-title>.char9,
.about-info>div:nth-child(1) .about-info-title>.char10,
.about-info>div:nth-child(1) .about-info-title>.char11,
.about-info>div:nth-child(1) .about-info-title>.char12,
.about-info>div:nth-child(1) .about-info-title>.char13,
.about-info>div:nth-child(1) .about-info-title>.char14,
.about-info>div:nth-child(1) .about-info-title>.char15,
.about-info>div:nth-child(1) .about-info-title>.char16,
.about-info>div:nth-child(1) .about-info-title>.char17,
.about-info>div:nth-child(1) .about-info-title>.char18,
.about-info>div:nth-child(1) .about-info-title>.char19,
.about-info>div:nth-child(1) .about-info-title>.char20,
.about-info>div:nth-child(1) .about-info-title>.char21,
.about-info>div:nth-child(1) .about-info-title>.char22,
.about-info>div:nth-child(1) .about-info-title>.char23,
.about-info>div:nth-child(1) .about-info-title>.char24,
.about-info>div:nth-child(1) .about-info-title>.char25,
.about-info>div:nth-child(1) .about-info-title>.char26,
.about-info>div:nth-child(1) .about-info-title>.char27,
.about-info>div:nth-child(1) .about-info-title>.char28,
.about-info>div:nth-child(1) .about-info-title>.char29,
.about-info>div:nth-child(1) .about-info-title>.char30,
.about-info>div:nth-child(1) .about-info-title>.char31, 
    .about-info>div:nth-child(1) .about-info-title>.char32 {
    color: #e543c2;
}


.about-info>div:nth-child(3) .about-info-title,
.about-info>div:nth-child(4) .about-info-title,
.about-info>div:nth-child(8) .about-info-title {
    color: #14e6f5;
}

.about-division {
    height: 5%;
}

.about-ill {
    height: auto;
    width: calc(100vw / 15 * 3);
    ;
}

.about-sound {
    position: fixed !important;
    top: 0;
    opacity: 1;
    display: none;
    left: 0;
    z-index: 10000;
}

.about-close-btn {
    position: fixed !important;
    top: 18px;
    left: 96px;
    z-index: 10000;
    opacity: 1;
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 10rem;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.37);
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}


