#about {
  transition: transform 0.8s;
  z-index: 1;
  position: relative;
  height: 95vh;
}
/* ABOUT-WATER-BACKGROUND */

.about {
  width: 100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    display 0.3s ease-in-out;
  opacity: 1;
  display: block;
}
.loader {
  position: absolute;
  top: 50%;
  left: 48%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader h1 {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 23em;
  color: rgba(255, 255, 255, 0);
  background-image: url(https://i.ibb.co/VHd16r6/image.png);
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(234, 234, 234, 0.253);
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    background-position: left 0px top 80px;
  }
  40% {
    background-position: left 800px top -50px;
  }
  80% {
    background-position: left 1800px top -50px;
  }
  100% {
    background-position: left 2400px top 80px;
  }
}

/* ABOUT-WAVE */

.header {
  position: relative;
  text-align: center;
  background: BLACK;
  color: white;
}
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

.about-info {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  overflow: hidden;
}

.line,
.line2,
.line3,
.line4,
.line5,
.line6,
.line7,
.line8,
.line9,
.line10,
.line11{
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: left;
  animation: typing .2s steps(200);
  top: 0%;
  position: relative;
  font-weight: 800;
  transition: .5S;
  margin: 0;
  font-size: 1.8em;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-image: url(https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_960_720.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}