.contact{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 1001;
    right: 3%;
    top: 1%;
}
.contact-body{
    width: 50%;
    height: 60vh;
    right: 4%;
    position: fixed;
    top: 4%;
    z-index: -1;
    border-radius: 30px;
}
.contact-body iframe{
  border-radius: 30px;
  border: 2px solid #0065a5;
}
.contact-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
    outline: none;
    stroke: white;
    transition: all 175ms ease-in-out;
  }
  .contact-menu:hover {
    stroke: #faccc3;
  }
  
  .contact-menu svg {
    width: 40px;
  }
  
  #burger-bar-one {
    opacity: 1;
    stroke-dasharray: 412px 1500px;
  }
  
  #burger-bar-two {
    opacity: 1;
    stroke-dasharray: 412px 1500px;
  }
  
  #burger-bar-three {
    opacity: 1;
  }
  
  .contact-menu .path {
    fill: transparent;
    stroke-width: 67px;
    stroke: #000000;
    stroke-linecap: round;
    opacity: 0;
    stroke: inherit;
  }






  