.skill{
    background: linear-gradient(to top, black, #220033);
height: 700px;
}
.sKmain {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transform: scale(.8);
    border-radius: 40px;
}

.sKitem {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 30px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
}

.sKitem:nth-child(1),
.sKitem:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    box-shadow: none;
    opacity: 1;
}


.sKitem:nth-child(3) {
    left: 50%;
}

.sKitem:nth-child(4) {
    left: calc(50% + 220px);
}

.sKitem:nth-child(5) {
    left: calc(50% + 440px);
}

.sKitem:nth-child(6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.sKitem:nth-child(7) {
    left: calc(50% + 660px);
    opacity: 0;
}

.sKitem:nth-child(8) {
    left: calc(50% + 1320px);
    opacity: 0;
}

.sKitem:nth-child(9) {
    left: calc(50% + 2640px);
    opacity: 0;
}

.sKitem:nth-child(10) {
    left: calc(50% + 5280px);
    opacity: 0;
}

.sKcontent {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
}

.sKcontent .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
}

.sKcontent button {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    
}

.sKitem:nth-of-type(2) .sKcontent {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.xPnav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
}

.xPnav .btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    
}

.xPnav .btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

@media (width > 650px) and (width < 900px) {
    .sKcontent .xPtitle {
        font-size: 1rem;
    }

    .sKcontent .description {
        font-size: 0.7rem;
    }

    .sKcontent button {
        font-size: 0.7rem;
    }

    .sKitem {
        width: 160px;
        height: 270px;
    }

    .sKitem:nth-child(3) {
        left: 50%;
    }

    .sKitem:nth-child(4) {
        left: calc(50% + 170px);
    }

    .sKitem:nth-child(5) {
        left: calc(50% + 340px);
    }

    .sKitem:nth-child(6) {
        left: calc(50% + 510px);
        opacity: 0;
    }

    .sKitem:nth-child(7) {
        left: calc(50% + 1020px);
        opacity: 0;
    }

    .sKitem:nth-child(8) {
        left: calc(50% + 2040px);
        opacity: 0;
    }

    .sKitem:nth-child(9) {
        left: calc(50% + 4080px);
        opacity: 0;
    }

    .sKitem:nth-child(10) {
        left: calc(50% + 8160px);
        opacity: 0;
    }
}

@media (width < 650px) {
   
}






.main-container {
    position: absolute;
    left: 3%;
    color: #ffffff;
    z-index: 10;
}

.first-container {
    
    position: relative;
}

.first-container h1 {
    position: relative;
    letter-spacing: 30px;
    font-weight: 200 !important;
    font-size: 5vw;
}

.first-container {
    margin-bottom: 15px;
}

span {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

span:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: -5;
}

.share:hover>h1>span:nth-child(1):after {
    background: white;
    width: 100%;
    transition: 0.6s;
    transition-delay: 100ms;
    transform: rotate(-25deg);
}

.share:hover>h1>span:nth-child(1) {
    color: #39393B;
    transition-delay: 110ms;
}

.share:hover>h1>span:nth-child(2):after {
    background: white;
    width: 100%;
    transition: 0.6s;
    transition-delay: 200ms;
    transform: rotate(-20deg);
}

.share:hover>h1>span:nth-child(2) {
    color: #39393B;
    transition-delay: 220ms;
}

.share:hover>h1>span:nth-child(3):after {
    background: white;
    width: 100%;
    transition: 0.6s;
    transition-delay: 300ms;
    transform: rotate(-15deg);
}

.share:hover>h1>span:nth-child(3) {
    color: #39393B;
    transition-delay: 330ms;
}

.share:hover>h1>span:nth-child(4):after {
    background: white;
    width: 100%;
    transition: 0.6s;
    transition-delay: 400ms;
    transform: rotate(-10deg);
}

.share:hover>h1>span:nth-child(4) {
    color: #39393B;
    transition-delay: 440ms;
}

.share:hover>h1>span:nth-child(5):after {
    background: white;
    width: 100%;
    transition: 0.6s;
    transition-delay: 500ms;
    transform: rotate(-5deg);
}

.share:hover>h1>span:nth-child(5) {
    color: #39393B;
    transition-delay: 550ms;
}

.share:hover>h1>span:nth-child(6):after {
    background: white;
    width: 100%;
    transition: 0.6s;
    transition-delay: 600ms;
    transform: rotate(0deg);
}

.share:hover>h1>span:nth-child(6) {
    color: #39393B;
    transition-delay: 660ms;
}