@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
:root{
  --pattern: #e0c900;
  --pink: #ED0DD9;
}
html,
body {
  margin: 0;
  background-color: black !important;
  padding: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Roboto" !important;
  color: white;
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(212, 8, 8, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(232, 232, 250, 0);
}
.con {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.div1 {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in;
}

.div2 {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.div2 {
  top: 0;
}

.div2.on-top {
  transform: translateY(-100%);
  transition: transform 1s ease-in;
}

.show-anime {
  animation-name: showanime;
  animation-duration: 1.5s;
}

@keyframes showanime {
  0% {
    opacity: 0;
    margin-top: 300px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

/*PROGRESS BAR */
#progress-container {
  width: 100%;
  height: 5px;
  background-color: #f0f0f000; /* Cor de fundo da barra de progresso */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Certifica-se de que a barra de progresso está acima de tudo */
}
#progress-bar {
  width: 0;
  height: 100%;
  background-color: #e0c900; /* Cor da barra de progresso */
  animation: fakeLoading 1.5s ease-in-out forwards;
}

@keyframes fakeLoading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* TOOL´S */
.dnone {
  display: none;
}
.z-10 {
  z-index: 10;
}
.z-100 {
  z-index: 100;
}
.h-vw {
  height: 100vw;
}
.zn-10{
  z-index: -10;
  position: relative;
}

.cursor{
  cursor: pointer;
}
