.xp {
  background: linear-gradient(to bottom, #1a1a1a, #220033);
}

.group-mobile,
.group {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: scale(.95);
}

.group-mobile {
  text-align: -webkit-center;
}

.xp-un {
  height: 75vh;
  width: 15vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1vw;
  border-radius: 3vw;
  display: inline-block;
}

.un-xp {
  width: 50vw;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1vw;
  border-radius: 3vw;
  display: grid;
}

.backMob,
.back {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  animation: back 1s 0s ease-in-out;
}

@keyframes back {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.un-xp:nth-of-type(1),
.xp-un:nth-of-type(1) {
  background-image: url('https://scontent.fbsb11-1.fna.fbcdn.net/v/t39.30808-6/374765626_664700012420949_3058005527837142958_n.jpg?stp=cp6_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=LC9mH2wWr-QAX9fVhes&_nc_oc=AQkjcTI02ggPt0ZOIpE8LwbedHRdwJh5Aq6d7qoZlExKAiD60_Sz-xNQ_EQc9Nk9jNY&_nc_ht=scontent.fbsb11-1.fna&oh=00_AfClOkvASerAau8bW0bU9j6cE10xwhjrrd9wiuCwH_Mjgg&oe=656057CD');
}

.un-xp:nth-of-type(2),
.xp-un:nth-of-type(2) {
  background-image: url('../assets/tgt.digital.jpg');
}

.un-xp:nth-of-type(3),
.xp-un:nth-of-type(3) {
  background-image: url('../assets/eshop.png');
}

.un-xp:nth-of-type(4),
.xp-un:nth-of-type(4) {
  background-image: url('../assets/bit.jpg');
}

.un-xp:nth-of-type(5),
.xp-un:nth-of-type(5) {
  background-image: url('https://media.licdn.com/dms/image/C4D03AQF2RAPK-3WQbw/profile-displayphoto-shrink_800_800/0/1549550880474?e=2147483647&v=beta&t=p_QGH6KMzAajrjaHFy3F04HqCkkvmm9wwaGTpdBj6TM');
}