.xp {
    background: linear-gradient(to bottom, black, #220033);
}

.group {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: scale(.95);
  }
  
  .xp-un {
    width: 15vw;
    height: 75vh;
    background-position: center;
    background-size: 75vh;
    margin: 1vw;
    border-radius: 3vw;
    display: inline-block;
  }