    /* ========DINAMIC OF PAGINATION SITE======== */
    /* ========DINAMIC OF PAGINATION SITE ========*/
    /* ========DINAMIC OF PAGINATION SITE======== */
    /* ========DINAMIC OF PAGINATION SITE ========*/
    
    #homesvg {
        display: block;
    }
    
    #formsvg {
        display: none;
    }
    
    #projectsvg {
        display: none;
    }
    
    #skillssvg {
        display: none;
    }
    
    .fa-github:hover {
        color: var(--purple);
        cursor: pointer;
    }
    
    .fa-facebook:hover {
        cursor: pointer;
        color: var(--bluef);
    }
    
    .fa-linkedin:hover {
        cursor: pointer;
        color: var(--bluel);
    }
    
    #home {
        display: block;
    }
    
    #skills {
        display: none;
    }
    
    #form {
        display: none;
    }
    
    #project {
        display: none;
    }