<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <h1>{{"Banner.Pretitle" | translate}}</h1>
                </div>
                <div class='banner-title'>
                    <h2>Luis Henrique.</h2>
                    <h3>Software Developer</h3>
                </div>
            </div>
            <div style="margin-top: 1rem" class="div-btn-banner ">
                <a [href]="'../../../../assets/cv/' + ('Header.cvName' | translate)" class="br-10 main-btn">
                    {{"Banner.ActionBtn" | translate}}
                </a>
            </div>
        </div>
    </div>
</section>
